/* common style here */
* {
    margin: 0;
    padding: 0;
}

.w-m-32 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.w-m-72 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.w-m-64 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.w-m-48 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.b-inter-p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.w-inter-24 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.b-inter-18 {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

button {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button:hover {
    color: #F00;
    background-color: #FFF;
    transition: 0.6s;
}

.container {
    width: 82%;
    max-width: 1320;
    margin: 0 auto;
    border-radius: 16px;
}

span {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.holi-text {
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;

}

/* banner styles starts here */
.banner {
    max-height: 600px;
    margin-top: 50px;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../asset/images/Banner\ Image.png)
}

.banner .banner-text {
    width: 600px;
    text-align: center;
    align-items: center;
    padding: 200px 344px;
}
/* banner section ends here */

/* section1 starts here */
.section1 {
    margin-top: 120px;
    text-align: center;
}

.section1 .discount-text {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.section1 .section1-text {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}
/* section1 ends here */

/* section2 starts here */
.section2 {
    height: 550px;
    margin-top: 120px;
    display: flex;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../asset/images/Vectorrr.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    align-items: center;
    padding: 40px 138px 0px 142px;

}

.section2 .section2-text {
    text-align: left;
    width: 700px;

}

.section2 .section2-text * {
    margin-bottom: 24px;
}

/* section2 ends here */

/* section3 starts here */
.section3 {
    margin-top: 120px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.section3 .section3-font {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.section3 .section3-text .section3-btn {
    margin-top: 48px;
}

.section3 .section3-text {
    padding: 100px 380px;
    text-align: center;
    width: 550px;
}

/* section3 ends here */

/* section4 starts here */
.section4 {
    max-height: 435px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../asset/images/Group\ 96.png);
    background-repeat: no-repeat;
    background-position: right 10% bottom;

}

.section4 .section4-left {
    width: 393px;
    text-align: left;
    padding: 104px 70px 104px 0px;
}

.section4 .section4-center img {
    width: 300px;
    height: 300px;
    padding: 50px;
    border-radius: 50%;
    border: 15px solid #F00;
}

.section4 .section4-left h2 {
    margin-bottom: 24px;
}

.section4 p {
    text-align: left;
}

.section4 .section4-right {
    width: 276px;
    padding: 30px 0px 118px 118px;
    text-align: left;
}
/* section4 ends here */

/* section5 starts here */
.section5 {
    margin-top: 120px;
    background-image: url(../asset/images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.dis-img{
    width: 600px;
    height: 438px;
    margin-left: -150px;
    background-image: url(../asset/images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.section5 .dis-img img{
    margin-top: 80px;
}

.section5 .section5-img {
    gap: 18px;
    display: flex;
    justify-content: space-between;
}

.section5 .section5-img .discount-img img {
    padding: 5px auto;
    vertical-align: middle;
}
.section5 .section5-text {
    text-align: center;
    width: 900px;
    padding: 0px 126px 26px;
}
/* section5 ends here */

/* section6 starts here */
.section6 {
    margin-top: 120px;

}

.section6 .section6-container .section6-img {
    width: 424px;
    height: 424px;
}

.section6 .section6-text {
    text-align: left;
    margin-bottom: 18px;
    width: 850px;
}

.section6 .section6-container .containar1 {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.section6 .section6-container .containar2 {
    margin-top: 24px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.section6 .section6-container .containar2 img:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.section6 .section6-container .containar1 img:hover {
    opacity: 0.5;
    transition: 0.3s;
}
/* section6 ends here */

/* section7 starts here */
.section7 {
    margin-top: 120px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 80px 212px;
    border-radius: 16px;
}

.section7 .btn {
    border-radius: 0px 50px 50px 0px;
    margin-left: -165px;
    position: absolute;
}

.section7 input {
    padding: 24px 30px;
    border-radius: 50px;
    width: 600px;
    height: 7px;
    border: none;
}

.section7 img{
margin-bottom: 48px;
}

.section7 p {
    padding: 22px 48px;
    width: 900px;
    margin-bottom: 22px;
}
/* section7 ends here */

/*footer starts here */
footer {
    background: #070211;
    margin-top: 120px;
    height: 600px;
}

footer .footer-top {
    padding: 120px 0px 50px;
    display: flex;
    justify-content: flex-start;
}

.footer-top .footer-text {
    width: 390px;
    text-align: left;
}

footer .footer-top .ft {
    margin-left: 480px;
}

footer .footer-img {
    text-align: center;
    padding: 48px 0px;
}

footer .footer-img img {
    margin-right: 24px;
}

footer .footer-bottom {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

footer hr {
    height: 1px;
    color: rgba(255, 255, 255, 0.15);
}

/* footer ends here */